@charset "UTF-8";

// --------------------------------------
.row_nw_fs_fs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.row_nw_fs_fe {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.row_nw_fs_center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.row_nw_fs_baseline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-start;
}

.row_nw_fs_stretch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

// --------------------------------------
.row_nw_fe_fs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.row_nw_fe_fe {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.row_nw_fe_center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

.row_nw_fe_baseline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: flex-end;
}

.row_nw_fe_stretch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-end;
}

// --------------------------------------
.row_nw_center_fs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}

.row_nw_center_fe {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}

.row_nw_center_center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.row_nw_center_baseline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: center;
}

.row_nw_center_stretch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
}

// --------------------------------------
.row_nw_sb_fs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.row_nw_sb_fe {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.row_nw_sb_center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.row_nw_sb_baseline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.row_nw_sb_stretch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

// --------------------------------------
.row_nw_sa_fs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.row_nw_sa_fe {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
}

.row_nw_sa_center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.row_nw_sa_baseline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-around;
}

.row_nw_sa_stretch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
}

// --------------------------------------
.row_nw_se_fs {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.row_nw_se_fe {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

.row_nw_se_center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.row_nw_se_baseline {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.row_nw_se_stretch {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-evenly;
}

// --------------------------------------
.col_nw_fs_fs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.col_nw_fs_fe {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.col_nw_fs_center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.col_nw_fs_baseline {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: flex-start;
}

.col_nw_fs_stretch {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

// --------------------------------------
.col_nw_fe_fs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.col_nw_fe_fe {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.col_nw_fe_center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
}

.col_nw_fe_baseline {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: flex-end;
}

.col_nw_fe_stretch {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-end;
}

// --------------------------------------
.col_nw_center_fs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.col_nw_center_fe {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
}

.col_nw_center_center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.col_nw_center_baseline {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: center;
}

.col_nw_center_stretch {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
}

// --------------------------------------
.col_nw_sb_fs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col_nw_sb_fe {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

.col_nw_sb_center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.col_nw_sb_baseline {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.col_nw_sb_stretch {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
}

// --------------------------------------
.col_nw_sa_fs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.col_nw_sa_fe {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-around;
}

.col_nw_sa_center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.col_nw_sa_baseline {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: space-around;
}

.col_nw_sa_stretch {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-around;
}

// --------------------------------------
.col_nw_se_fs {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.col_nw_se_fe {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
}

.col_nw_se_center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.col_nw_se_baseline {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  justify-content: space-evenly;
}

.col_nw_se_stretch {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-evenly;
}
