@charset "UTF-8";

// --------------------------------------
.m_0 {
  margin: 0;
}

.m_1 {
  margin: 1px;
}

.m_2 {
  margin: 2px;
}

.m_3 {
  margin: 3px;
}

.m_4 {
  margin: 4px;
}

.m_5 {
  margin: 5px;
}

.m_6 {
  margin: 6px;
}

.m_7 {
  margin: 7px;
}

.m_8 {
  margin: 8px;
}

.m_9 {
  margin: 9px;
}

.m_10 {
  margin: 10px;
}

.m_11 {
  margin: 11px;
}

.m_12 {
  margin: 12px;
}

.m_13 {
  margin: 13px;
}

.m_14 {
  margin: 14px;
}

.m_15 {
  margin: 15px;
}

.m_16 {
  margin: 16px;
}

.m_17 {
  margin: 17px;
}

.m_18 {
  margin: 18px;
}

.m_19 {
  margin: 19px;
}

.m_20 {
  margin: 20px;
}

.m_22 {
  margin: 22px;
}

.m_24 {
  margin: 24px;
}

.m_26 {
  margin: 26px;
}

.m_28 {
  margin: 28px;
}

.m_30 {
  margin: 30px;
}

.m_32 {
  margin: 32px;
}

.m_34 {
  margin: 34px;
}

.m_36 {
  margin: 36px;
}

.m_38 {
  margin: 38px;
}

.m_40 {
  margin: 40px;
}

.m_42 {
  margin: 42px;
}

.m_44 {
  margin: 44px;
}

.m_46 {
  margin: 46px;
}

.m_48 {
  margin: 48px;
}

.m_50 {
  margin: 50px;
}

.m_52 {
  margin: 52px;
}

.m_54 {
  margin: 54px;
}

.m_56 {
  margin: 56px;
}

.m_58 {
  margin: 58px;
}

.m_60 {
  margin: 60px;
}

.m_62 {
  margin: 62px;
}

.m_64 {
  margin: 64px;
}

.m_65 {
  margin: 65px;
}

.m_70 {
  margin: 70px;
}

.m_80 {
  margin: 80px;
}

.m_90 {
  margin: 90px;
}

.m_100 {
  margin: 100px;
}

.m_110 {
  margin: 110px;
}

.m_120 {
  margin: 120px;
}

.m_0r {
  margin: 0;
}

.m_1r {
  margin: 0.0625rem;
}

.m_2r {
  margin: 0.125rem;
}

.m_3r {
  margin: 0.1875rem;
}

.m_4r {
  margin: 0.25rem;
}

.m_5r {
  margin: 0.3125rem;
}

.m_6r {
  margin: 0.375rem;
}

.m_7r {
  margin: 0.4375rem;
}

.m_8r {
  margin: 0.5rem;
}

.m_9r {
  margin: 0.5625rem;
}

.m_10r {
  margin: 0.625rem;
}

.m_11r {
  margin: 0.6875rem;
}

.m_12r {
  margin: 0.75rem;
}

.m_13r {
  margin: 0.8125rem;
}

.m_14r {
  margin: 0.875rem;
}

.m_15r {
  margin: 0.9375rem;
}

.m_16r {
  margin: 1rem;
}

.m_17r {
  margin: 1.0625rem;
}

.m_18r {
  margin: 1.125rem;
}

.m_19r {
  margin: 1.1875rem;
}

.m_20r {
  margin: 1.25rem;
}

.m_22r {
  margin: 1.375rem;
}

.m_24r {
  margin: 1.5rem;
}

.m_26r {
  margin: 1.625rem;
}

.m_28r {
  margin: 1.75rem;
}

.m_30r {
  margin: 1.875rem;
}

.m_32r {
  margin: 2rem;
}

.m_34r {
  margin: 2.125rem;
}

.m_36r {
  margin: 2.25rem;
}

.m_38r {
  margin: 2.375rem;
}

.m_40r {
  margin: 2.5rem;
}

.m_42r {
  margin: 2.625rem;
}

.m_44r {
  margin: 2.75rem;
}

.m_46r {
  margin: 2.875rem;
}

.m_48r {
  margin: 3rem;
}

.m_50r {
  margin: 3.125rem;
}

.m_52r {
  margin: 3.25rem;
}

.m_54r {
  margin: 3.375rem;
}

.m_56r {
  margin: 3.5rem;
}

.m_58r {
  margin: 3.625rem;
}

.m_60r {
  margin: 3.75rem;
}

.m_62r {
  margin: 3.875rem;
}

.m_64r {
  margin: 4rem;
}

.m_65r {
  margin: 4.0625rem;
}

.m_70r {
  margin: 4.375rem;
}

.m_80r {
  margin: 5rem;
}

.m_90r {
  margin: 5.625rem;
}

.m_100r {
  margin: 6.25rem;
}

.m_110r {
  margin: 6.875rem;
}

.m_120r {
  margin: 7.5rem;
}

// --------------------------------------

.mt_0 {
  margin-top: 0;
}

.mt_1 {
  margin-top: 1px;
}

.mt_2 {
  margin-top: 2px;
}

.mt_3 {
  margin-top: 3px;
}

.mt_4 {
  margin-top: 4px;
}

.mt_5 {
  margin-top: 5px;
}

.mt_6 {
  margin-top: 6px;
}

.mt_7 {
  margin-top: 7px;
}

.mt_8 {
  margin-top: 8px;
}

.mt_9 {
  margin-top: 9px;
}

.mt_10 {
  margin-top: 10px;
}

.mt_11 {
  margin-top: 11px;
}

.mt_12 {
  margin-top: 12px;
}

.mt_13 {
  margin-top: 13px;
}

.mt_14 {
  margin-top: 14px;
}

.mt_15 {
  margin-top: 15px;
}

.mt_16 {
  margin-top: 16px;
}

.mt_17 {
  margin-top: 17px;
}

.mt_18 {
  margin-top: 18px;
}

.mt_19 {
  margin-top: 19px;
}

.mt_20 {
  margin-top: 20px;
}

.mt_22 {
  margin-top: 22px;
}

.mt_24 {
  margin-top: 24px;
}

.mt_26 {
  margin-top: 26px;
}

.mt_28 {
  margin-top: 28px;
}

.mt_30 {
  margin-top: 30px;
}

.mt_32 {
  margin-top: 32px;
}

.mt_34 {
  margin-top: 34px;
}

.mt_36 {
  margin-top: 36px;
}

.mt_38 {
  margin-top: 38px;
}

.mt_40 {
  margin-top: 40px;
}

.mt_42 {
  margin-top: 42px;
}

.mt_44 {
  margin-top: 44px;
}

.mt_46 {
  margin-top: 46px;
}

.mt_48 {
  margin-top: 48px;
}

.mt_50 {
  margin-top: 50px;
}

.mt_52 {
  margin-top: 52px;
}

.mt_54 {
  margin-top: 54px;
}

.mt_56 {
  margin-top: 56px;
}

.mt_58 {
  margin-top: 58px;
}

.mt_60 {
  margin-top: 60px;
}

.mt_62 {
  margin-top: 62px;
}

.mt_64 {
  margin-top: 64px;
}

.mt_65 {
  margin-top: 65px;
}

.mt_70 {
  margin-top: 70px;
}

.mt_80 {
  margin-top: 80px;
}

.mt_90 {
  margin-top: 90px;
}

.mt_100 {
  margin-top: 100px;
}

.mt_110 {
  margin-top: 110px;
}

.mt_120 {
  margin-top: 120px;
}

.mt_0r {
  margin-top: 0;
}

.mt_1r {
  margin-top: 0.0625rem;
}

.mt_2r {
  margin-top: 0.125rem;
}

.mt_3r {
  margin-top: 0.1875rem;
}

.mt_4r {
  margin-top: 0.25rem;
}

.mt_5r {
  margin-top: 0.3125rem;
}

.mt_6r {
  margin-top: 0.375rem;
}

.mt_7r {
  margin-top: 0.4375rem;
}

.mt_8r {
  margin-top: 0.5rem;
}

.mt_9r {
  margin-top: 0.5625rem;
}

.mt_10r {
  margin-top: 0.625rem;
}

.mt_11r {
  margin-top: 0.6875rem;
}

.mt_12r {
  margin-top: 0.75rem;
}

.mt_13r {
  margin-top: 0.8125rem;
}

.mt_14r {
  margin-top: 0.875rem;
}

.mt_15r {
  margin-top: 0.9375rem;
}

.mt_16r {
  margin-top: 1rem;
}

.mt_17r {
  margin-top: 1.0625rem;
}

.mt_18r {
  margin-top: 1.125rem;
}

.mt_19r {
  margin-top: 1.1875rem;
}

.mt_20r {
  margin-top: 1.25rem;
}

.mt_22r {
  margin-top: 1.375rem;
}

.mt_24r {
  margin-top: 1.5rem;
}

.mt_26r {
  margin-top: 1.625rem;
}

.mt_28r {
  margin-top: 1.75rem;
}

.mt_30r {
  margin-top: 1.875rem;
}

.mt_32r {
  margin-top: 2rem;
}

.mt_34r {
  margin-top: 2.125rem;
}

.mt_36r {
  margin-top: 2.25rem;
}

.mt_38r {
  margin-top: 2.375rem;
}

.mt_40r {
  margin-top: 2.5rem;
}

.mt_42r {
  margin-top: 2.625rem;
}

.mt_44r {
  margin-top: 2.75rem;
}

.mt_46r {
  margin-top: 2.875rem;
}

.mt_48r {
  margin-top: 3rem;
}

.mt_50r {
  margin-top: 3.125rem;
}

.mt_52r {
  margin-top: 3.25rem;
}

.mt_54r {
  margin-top: 3.375rem;
}

.mt_56r {
  margin-top: 3.5rem;
}

.mt_58r {
  margin-top: 3.625rem;
}

.mt_60r {
  margin-top: 3.75rem;
}

.mt_62r {
  margin-top: 3.875rem;
}

.mt_64r {
  margin-top: 4rem;
}

.mt_65r {
  margin-top: 4.0625rem;
}

.mt_70r {
  margin-top: 4.375rem;
}

.mt_80r {
  margin-top: 5rem;
}

.mt_90r {
  margin-top: 5.625rem;
}

.mt_100r {
  margin-top: 6.25rem;
}

.mt_110r {
  margin-top: 6.875rem;
}

.mt_120r {
  margin-top: 7.5rem;
}

// --------------------------------------

.mb_0 {
  margin-bottom: 0;
}

.mb_1 {
  margin-bottom: 1px;
}

.mb_2 {
  margin-bottom: 2px;
}

.mb_3 {
  margin-bottom: 3px;
}

.mb_4 {
  margin-bottom: 4px;
}

.mb_5 {
  margin-bottom: 5px;
}

.mb_6 {
  margin-bottom: 6px;
}

.mb_7 {
  margin-bottom: 7px;
}

.mb_8 {
  margin-bottom: 8px;
}

.mb_9 {
  margin-bottom: 9px;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_11 {
  margin-bottom: 11px;
}

.mb_12 {
  margin-bottom: 12px;
}

.mb_13 {
  margin-bottom: 13px;
}

.mb_14 {
  margin-bottom: 14px;
}

.mb_15 {
  margin-bottom: 15px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_17 {
  margin-bottom: 17px;
}

.mb_18 {
  margin-bottom: 18px;
}

.mb_19 {
  margin-bottom: 19px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mb_22 {
  margin-bottom: 22px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_26 {
  margin-bottom: 26px;
}

.mb_28 {
  margin-bottom: 28px;
}

.mb_30 {
  margin-bottom: 30px;
}

.mb_32 {
  margin-bottom: 32px;
}

.mb_34 {
  margin-bottom: 34px;
}

.mb_36 {
  margin-bottom: 36px;
}

.mb_38 {
  margin-bottom: 38px;
}

.mb_40 {
  margin-bottom: 40px;
}

.mb_42 {
  margin-bottom: 42px;
}

.mb_44 {
  margin-bottom: 44px;
}

.mb_46 {
  margin-bottom: 46px;
}

.mb_48 {
  margin-bottom: 48px;
}

.mb_50 {
  margin-bottom: 50px;
}

.mb_52 {
  margin-bottom: 52px;
}

.mb_54 {
  margin-bottom: 54px;
}

.mb_56 {
  margin-bottom: 56px;
}

.mb_58 {
  margin-bottom: 58px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mb_62 {
  margin-bottom: 62px;
}

.mb_64 {
  margin-bottom: 64px;
}

.mb_65 {
  margin-bottom: 65px;
}

.mb_70 {
  margin-bottom: 70px;
}

.mb_80 {
  margin-bottom: 80px;
}

.mb_90 {
  margin-bottom: 90px;
}

.mb_100 {
  margin-bottom: 100px;
}

.mb_110 {
  margin-bottom: 110px;
}

.mb_120 {
  margin-bottom: 120px;
}

.mb_0r {
  margin-bottom: 0;
}

.mb_1r {
  margin-bottom: 0.0625rem;
}

.mb_2r {
  margin-bottom: 0.125rem;
}

.mb_3r {
  margin-bottom: 0.1875rem;
}

.mb_4r {
  margin-bottom: 0.25rem;
}

.mb_5r {
  margin-bottom: 0.3125rem;
}

.mb_6r {
  margin-bottom: 0.375rem;
}

.mb_7r {
  margin-bottom: 0.4375rem;
}

.mb_8r {
  margin-bottom: 0.5rem;
}

.mb_9r {
  margin-bottom: 0.5625rem;
}

.mb_10r {
  margin-bottom: 0.625rem;
}

.mb_11r {
  margin-bottom: 0.6875rem;
}

.mb_12r {
  margin-bottom: 0.75rem;
}

.mb_13r {
  margin-bottom: 0.8125rem;
}

.mb_14r {
  margin-bottom: 0.875rem;
}

.mb_15r {
  margin-bottom: 0.9375rem;
}

.mb_16r {
  margin-bottom: 1rem;
}

.mb_17r {
  margin-bottom: 1.0625rem;
}

.mb_18r {
  margin-bottom: 1.125rem;
}

.mb_19r {
  margin-bottom: 1.1875rem;
}

.mb_20r {
  margin-bottom: 1.25rem;
}

.mb_22r {
  margin-bottom: 1.375rem;
}

.mb_24r {
  margin-bottom: 1.5rem;
}

.mb_26r {
  margin-bottom: 1.625rem;
}

.mb_28r {
  margin-bottom: 1.75rem;
}

.mb_30r {
  margin-bottom: 1.875rem;
}

.mb_32r {
  margin-bottom: 2rem;
}

.mb_34r {
  margin-bottom: 2.125rem;
}

.mb_36r {
  margin-bottom: 2.25rem;
}

.mb_38r {
  margin-bottom: 2.375rem;
}

.mb_40r {
  margin-bottom: 2.5rem;
}

.mb_42r {
  margin-bottom: 2.625rem;
}

.mb_44r {
  margin-bottom: 2.75rem;
}

.mb_46r {
  margin-bottom: 2.875rem;
}

.mb_48r {
  margin-bottom: 3rem;
}

.mb_50r {
  margin-bottom: 3.125rem;
}

.mb_52r {
  margin-bottom: 3.25rem;
}

.mb_54r {
  margin-bottom: 3.375rem;
}

.mb_56r {
  margin-bottom: 3.5rem;
}

.mb_58r {
  margin-bottom: 3.625rem;
}

.mb_60r {
  margin-bottom: 3.75rem;
}

.mb_62r {
  margin-bottom: 3.875rem;
}

.mb_64r {
  margin-bottom: 4rem;
}

.mb_65r {
  margin-bottom: 4.0625rem;
}

.mb_70r {
  margin-bottom: 4.375rem;
}

.mb_80r {
  margin-bottom: 5rem;
}

.mb_90r {
  margin-bottom: 5.625rem;
}

.mb_100r {
  margin-bottom: 6.25rem;
}

.mb_110r {
  margin-bottom: 6.875rem;
}

.mb_120r {
  margin-bottom: 7.5rem;
}

// --------------------------------------

.ml_0 {
  margin-left: 0;
}

.ml_1 {
  margin-left: 1px;
}

.ml_2 {
  margin-left: 2px;
}

.ml_3 {
  margin-left: 3px;
}

.ml_4 {
  margin-left: 4px;
}

.ml_5 {
  margin-left: 5px;
}

.ml_6 {
  margin-left: 6px;
}

.ml_7 {
  margin-left: 7px;
}

.ml_8 {
  margin-left: 8px;
}

.ml_9 {
  margin-left: 9px;
}

.ml_10 {
  margin-left: 10px;
}

.ml_11 {
  margin-left: 11px;
}

.ml_12 {
  margin-left: 12px;
}

.ml_13 {
  margin-left: 13px;
}

.ml_14 {
  margin-left: 14px;
}

.ml_15 {
  margin-left: 15px;
}

.ml_16 {
  margin-left: 16px;
}

.ml_17 {
  margin-left: 17px;
}

.ml_18 {
  margin-left: 18px;
}

.ml_19 {
  margin-left: 19px;
}

.ml_20 {
  margin-left: 20px;
}

.ml_22 {
  margin-left: 22px;
}

.ml_24 {
  margin-left: 24px;
}

.ml_26 {
  margin-left: 26px;
}

.ml_28 {
  margin-left: 28px;
}

.ml_30 {
  margin-left: 30px;
}

.ml_32 {
  margin-left: 32px;
}

.ml_34 {
  margin-left: 34px;
}

.ml_36 {
  margin-left: 36px;
}

.ml_38 {
  margin-left: 38px;
}

.ml_40 {
  margin-left: 40px;
}

.ml_42 {
  margin-left: 42px;
}

.ml_44 {
  margin-left: 44px;
}

.ml_46 {
  margin-left: 46px;
}

.ml_48 {
  margin-left: 48px;
}

.ml_50 {
  margin-left: 50px;
}

.ml_52 {
  margin-left: 52px;
}

.ml_54 {
  margin-left: 54px;
}

.ml_56 {
  margin-left: 56px;
}

.ml_58 {
  margin-left: 58px;
}

.ml_60 {
  margin-left: 60px;
}

.ml_62 {
  margin-left: 62px;
}

.ml_64 {
  margin-left: 64px;
}

.ml_65 {
  margin-left: 65px;
}

.ml_70 {
  margin-left: 70px;
}

.ml_80 {
  margin-left: 80px;
}

.ml_90 {
  margin-left: 90px;
}

.ml_100 {
  margin-left: 100px;
}

.ml_110 {
  margin-left: 110px;
}

.ml_120 {
  margin-left: 120px;
}

.ml_0r {
  margin-left: 0;
}

.ml_1r {
  margin-left: 0.0625rem;
}

.ml_2r {
  margin-left: 0.125rem;
}

.ml_3r {
  margin-left: 0.1875rem;
}

.ml_4r {
  margin-left: 0.25rem;
}

.ml_5r {
  margin-left: 0.3125rem;
}

.ml_6r {
  margin-left: 0.375rem;
}

.ml_7r {
  margin-left: 0.4375rem;
}

.ml_8r {
  margin-left: 0.5rem;
}

.ml_9r {
  margin-left: 0.5625rem;
}

.ml_10r {
  margin-left: 0.625rem;
}

.ml_11r {
  margin-left: 0.6875rem;
}

.ml_12r {
  margin-left: 0.75rem;
}

.ml_13r {
  margin-left: 0.8125rem;
}

.ml_14r {
  margin-left: 0.875rem;
}

.ml_15r {
  margin-left: 0.9375rem;
}

.ml_16r {
  margin-left: 1rem;
}

.ml_17r {
  margin-left: 1.0625rem;
}

.ml_18r {
  margin-left: 1.125rem;
}

.ml_19r {
  margin-left: 1.1875rem;
}

.ml_20r {
  margin-left: 1.25rem;
}

.ml_22r {
  margin-left: 1.375rem;
}

.ml_24r {
  margin-left: 1.5rem;
}

.ml_26r {
  margin-left: 1.625rem;
}

.ml_28r {
  margin-left: 1.75rem;
}

.ml_30r {
  margin-left: 1.875rem;
}

.ml_32r {
  margin-left: 2rem;
}

.ml_34r {
  margin-left: 2.125rem;
}

.ml_36r {
  margin-left: 2.25rem;
}

.ml_38r {
  margin-left: 2.375rem;
}

.ml_40r {
  margin-left: 2.5rem;
}

.ml_42r {
  margin-left: 2.625rem;
}

.ml_44r {
  margin-left: 2.75rem;
}

.ml_46r {
  margin-left: 2.875rem;
}

.ml_48r {
  margin-left: 3rem;
}

.ml_50r {
  margin-left: 3.125rem;
}

.ml_52r {
  margin-left: 3.25rem;
}

.ml_54r {
  margin-left: 3.375rem;
}

.ml_56r {
  margin-left: 3.5rem;
}

.ml_58r {
  margin-left: 3.625rem;
}

.ml_60r {
  margin-left: 3.75rem;
}

.ml_62r {
  margin-left: 3.875rem;
}

.ml_64r {
  margin-left: 4rem;
}

.ml_65r {
  margin-left: 4.0625rem;
}

.ml_70r {
  margin-left: 4.375rem;
}

.ml_80r {
  margin-left: 5rem;
}

.ml_90r {
  margin-left: 5.625rem;
}

.ml_100r {
  margin-left: 6.25rem;
}

.ml_110r {
  margin-left: 6.875rem;
}

.ml_120r {
  margin-left: 7.5rem;
}

// --------------------------------------
.mr_0 {
  margin-right: 0;
}

.mr_1 {
  margin-right: 1px;
}

.mr_2 {
  margin-right: 2px;
}

.mr_3 {
  margin-right: 3px;
}

.mr_4 {
  margin-right: 4px;
}

.mr_5 {
  margin-right: 5px;
}

.mr_6 {
  margin-right: 6px;
}

.mr_7 {
  margin-right: 7px;
}

.mr_8 {
  margin-right: 8px;
}

.mr_9 {
  margin-right: 9px;
}

.mr_10 {
  margin-right: 10px;
}

.mr_11 {
  margin-right: 11px;
}

.mr_12 {
  margin-right: 12px;
}

.mr_13 {
  margin-right: 13px;
}

.mr_14 {
  margin-right: 14px;
}

.mr_15 {
  margin-right: 15px;
}

.mr_16 {
  margin-right: 16px;
}

.mr_17 {
  margin-right: 17px;
}

.mr_18 {
  margin-right: 18px;
}

.mr_19 {
  margin-right: 19px;
}

.mr_20 {
  margin-right: 20px;
}

.mr_22 {
  margin-right: 22px;
}

.mr_24 {
  margin-right: 24px;
}

.mr_26 {
  margin-right: 26px;
}

.mr_28 {
  margin-right: 28px;
}

.mr_30 {
  margin-right: 30px;
}

.mr_32 {
  margin-right: 32px;
}

.mr_34 {
  margin-right: 34px;
}

.mr_36 {
  margin-right: 36px;
}

.mr_38 {
  margin-right: 38px;
}

.mr_40 {
  margin-right: 40px;
}

.mr_42 {
  margin-right: 42px;
}

.mr_44 {
  margin-right: 44px;
}

.mr_46 {
  margin-right: 46px;
}

.mr_48 {
  margin-right: 48px;
}

.mr_50 {
  margin-right: 50px;
}

.mr_52 {
  margin-right: 52px;
}

.mr_54 {
  margin-right: 54px;
}

.mr_56 {
  margin-right: 56px;
}

.mr_58 {
  margin-right: 58px;
}

.mr_60 {
  margin-right: 60px;
}

.mr_62 {
  margin-right: 62px;
}

.mr_64 {
  margin-right: 64px;
}

.mr_65 {
  margin-right: 65px;
}

.mr_70 {
  margin-right: 70px;
}

.mr_80 {
  margin-right: 80px;
}

.mr_90 {
  margin-right: 90px;
}

.mr_100 {
  margin-right: 100px;
}

.mr_110 {
  margin-right: 110px;
}

.mr_120 {
  margin-right: 120px;
}

.mr_0r {
  margin-right: 0;
}

.mr_1r {
  margin-right: 0.0625rem;
}

.mr_2r {
  margin-right: 0.125rem;
}

.mr_3r {
  margin-right: 0.1875rem;
}

.mr_4r {
  margin-right: 0.25rem;
}

.mr_5r {
  margin-right: 0.3125rem;
}

.mr_6r {
  margin-right: 0.375rem;
}

.mr_7r {
  margin-right: 0.4375rem;
}

.mr_8r {
  margin-right: 0.5rem;
}

.mr_9r {
  margin-right: 0.5625rem;
}

.mr_10r {
  margin-right: 0.625rem;
}

.mr_11r {
  margin-right: 0.6875rem;
}

.mr_12r {
  margin-right: 0.75rem;
}

.mr_13r {
  margin-right: 0.8125rem;
}

.mr_14r {
  margin-right: 0.875rem;
}

.mr_15r {
  margin-right: 0.9375rem;
}

.mr_16r {
  margin-right: 1rem;
}

.mr_17r {
  margin-right: 1.0625rem;
}

.mr_18r {
  margin-right: 1.125rem;
}

.mr_19r {
  margin-right: 1.1875rem;
}

.mr_20r {
  margin-right: 1.25rem;
}

.mr_22r {
  margin-right: 1.375rem;
}

.mr_24r {
  margin-right: 1.5rem;
}

.mr_26r {
  margin-right: 1.625rem;
}

.mr_28r {
  margin-right: 1.75rem;
}

.mr_30r {
  margin-right: 1.875rem;
}

.mr_32r {
  margin-right: 2rem;
}

.mr_34r {
  margin-right: 2.125rem;
}

.mr_36r {
  margin-right: 2.25rem;
}

.mr_38r {
  margin-right: 2.375rem;
}

.mr_40r {
  margin-right: 2.5rem;
}

.mr_42r {
  margin-right: 2.625rem;
}

.mr_44r {
  margin-right: 2.75rem;
}

.mr_46r {
  margin-right: 2.875rem;
}

.mr_48r {
  margin-right: 3rem;
}

.mr_50r {
  margin-right: 3.125rem;
}

.mr_52r {
  margin-right: 3.25rem;
}

.mr_54r {
  margin-right: 3.375rem;
}

.mr_56r {
  margin-right: 3.5rem;
}

.mr_58r {
  margin-right: 3.625rem;
}

.mr_60r {
  margin-right: 3.75rem;
}

.mr_62r {
  margin-right: 3.875rem;
}

.mr_64r {
  margin-right: 4rem;
}

.mr_65r {
  margin-right: 4.0625rem;
}

.mr_70r {
  margin-right: 4.375rem;
}

.mr_80r {
  margin-right: 5rem;
}

.mr_90r {
  margin-right: 5.625rem;
}

.mr_100r {
  margin-right: 6.25rem;
}

.mr_110r {
  margin-right: 6.875rem;
}

.mr_120r {
  margin-right: 7.5rem;
}

// --------------------------------------

.p_0 {
  padding: 0;
}

.p_1 {
  padding: 1px;
}

.p_2 {
  padding: 2px;
}

.p_3 {
  padding: 3px;
}

.p_4 {
  padding: 4px;
}

.p_5 {
  padding: 5px;
}

.p_6 {
  padding: 6px;
}

.p_7 {
  padding: 7px;
}

.p_8 {
  padding: 8px;
}

.p_9 {
  padding: 9px;
}

.p_10 {
  padding: 10px;
}

.p_11 {
  padding: 11px;
}

.p_12 {
  padding: 12px;
}

.p_13 {
  padding: 13px;
}

.p_14 {
  padding: 14px;
}

.p_15 {
  padding: 15px;
}

.p_16 {
  padding: 16px;
}

.p_17 {
  padding: 17px;
}

.p_18 {
  padding: 18px;
}

.p_19 {
  padding: 19px;
}

.p_20 {
  padding: 20px;
}

.p_22 {
  padding: 22px;
}

.p_24 {
  padding: 24px;
}

.p_26 {
  padding: 26px;
}

.p_28 {
  padding: 28px;
}

.p_30 {
  padding: 30px;
}

.p_32 {
  padding: 32px;
}

.p_34 {
  padding: 34px;
}

.p_36 {
  padding: 36px;
}

.p_38 {
  padding: 38px;
}

.p_40 {
  padding: 40px;
}

.p_42 {
  padding: 42px;
}

.p_44 {
  padding: 44px;
}

.p_46 {
  padding: 46px;
}

.p_48 {
  padding: 48px;
}

.p_50 {
  padding: 50px;
}

.p_52 {
  padding: 52px;
}

.p_54 {
  padding: 54px;
}

.p_56 {
  padding: 56px;
}

.p_58 {
  padding: 58px;
}

.p_60 {
  padding: 60px;
}

.p_62 {
  padding: 62px;
}

.p_64 {
  padding: 64px;
}

.p_65 {
  padding: 65px;
}

.p_70 {
  padding: 70px;
}

.p_80 {
  padding: 80px;
}

.p_90 {
  padding: 90px;
}

.p_100 {
  padding: 100px;
}

.p_110 {
  padding: 110px;
}

.p_120 {
  padding: 120px;
}

.p_0r {
  padding: 0;
}

.p_1r {
  padding: 0.0625rem;
}

.p_2r {
  padding: 0.125rem;
}

.p_3r {
  padding: 0.1875rem;
}

.p_4r {
  padding: 0.25rem;
}

.p_5r {
  padding: 0.3125rem;
}

.p_6r {
  padding: 0.375rem;
}

.p_7r {
  padding: 0.4375rem;
}

.p_8r {
  padding: 0.5rem;
}

.p_9r {
  padding: 0.5625rem;
}

.p_10r {
  padding: 0.625rem;
}

.p_11r {
  padding: 0.6875rem;
}

.p_12r {
  padding: 0.75rem;
}

.p_13r {
  padding: 0.8125rem;
}

.p_14r {
  padding: 0.875rem;
}

.p_15r {
  padding: 0.9375rem;
}

.p_16r {
  padding: 1rem;
}

.p_17r {
  padding: 1.0625rem;
}

.p_18r {
  padding: 1.125rem;
}

.p_19r {
  padding: 1.1875rem;
}

.p_20r {
  padding: 1.25rem;
}

.p_22r {
  padding: 1.375rem;
}

.p_24r {
  padding: 1.5rem;
}

.p_26r {
  padding: 1.625rem;
}

.p_28r {
  padding: 1.75rem;
}

.p_30r {
  padding: 1.875rem;
}

.p_32r {
  padding: 2rem;
}

.p_34r {
  padding: 2.125rem;
}

.p_36r {
  padding: 2.25rem;
}

.p_38r {
  padding: 2.375rem;
}

.p_40r {
  padding: 2.5rem;
}

.p_42r {
  padding: 2.625rem;
}

.p_44r {
  padding: 2.75rem;
}

.p_46r {
  padding: 2.875rem;
}

.p_48r {
  padding: 3rem;
}

.p_50r {
  padding: 3.125rem;
}

.p_52r {
  padding: 3.25rem;
}

.p_54r {
  padding: 3.375rem;
}

.p_56r {
  padding: 3.5rem;
}

.p_58r {
  padding: 3.625rem;
}

.p_60r {
  padding: 3.75rem;
}

.p_62r {
  padding: 3.875rem;
}

.p_64r {
  padding: 4rem;
}

.p_65r {
  padding: 4.0625rem;
}

.p_70r {
  padding: 4.375rem;
}

.p_80r {
  padding: 5rem;
}

.p_90r {
  padding: 5.625rem;
}

.p_100r {
  padding: 6.25rem;
}

.p_110r {
  padding: 6.875rem;
}

.p_120r {
  padding: 7.5rem;
}

// --------------------------------------

.pt_0 {
  padding-top: 0;
}

.pt_1 {
  padding-top: 1px;
}

.pt_2 {
  padding-top: 2px;
}

.pt_3 {
  padding-top: 3px;
}

.pt_4 {
  padding-top: 4px;
}

.pt_5 {
  padding-top: 5px;
}

.pt_6 {
  padding-top: 6px;
}

.pt_7 {
  padding-top: 7px;
}

.pt_8 {
  padding-top: 8px;
}

.pt_9 {
  padding-top: 9px;
}

.pt_10 {
  padding-top: 10px;
}

.pt_11 {
  padding-top: 11px;
}

.pt_12 {
  padding-top: 12px;
}

.pt_13 {
  padding-top: 13px;
}

.pt_14 {
  padding-top: 14px;
}

.pt_15 {
  padding-top: 15px;
}

.pt_16 {
  padding-top: 16px;
}

.pt_17 {
  padding-top: 17px;
}

.pt_18 {
  padding-top: 18px;
}

.pt_19 {
  padding-top: 19px;
}

.pt_20 {
  padding-top: 20px;
}

.pt_22 {
  padding-top: 22px;
}

.pt_24 {
  padding-top: 24px;
}

.pt_26 {
  padding-top: 26px;
}

.pt_28 {
  padding-top: 28px;
}

.pt_30 {
  padding-top: 30px;
}

.pt_32 {
  padding-top: 32px;
}

.pt_34 {
  padding-top: 34px;
}

.pt_36 {
  padding-top: 36px;
}

.pt_38 {
  padding-top: 38px;
}

.pt_40 {
  padding-top: 40px;
}

.pt_42 {
  padding-top: 42px;
}

.pt_44 {
  padding-top: 44px;
}

.pt_46 {
  padding-top: 46px;
}

.pt_48 {
  padding-top: 48px;
}

.pt_50 {
  padding-top: 50px;
}

.pt_52 {
  padding-top: 52px;
}

.pt_54 {
  padding-top: 54px;
}

.pt_56 {
  padding-top: 56px;
}

.pt_58 {
  padding-top: 58px;
}

.pt_60 {
  padding-top: 60px;
}

.pt_62 {
  padding-top: 62px;
}

.pt_64 {
  padding-top: 64px;
}

.pt_65 {
  padding-top: 65px;
}

.pt_70 {
  padding-top: 70px;
}

.pt_80 {
  padding-top: 80px;
}

.pt_90 {
  padding-top: 90px;
}

.pt_100 {
  padding-top: 100px;
}

.pt_110 {
  padding-top: 110px;
}

.pt_120 {
  padding-top: 120px;
}

.pt_0r {
  padding-top: 0;
}

.pt_1r {
  padding-top: 0.0625rem;
}

.pt_2r {
  padding-top: 0.125rem;
}

.pt_3r {
  padding-top: 0.1875rem;
}

.pt_4r {
  padding-top: 0.25rem;
}

.pt_5r {
  padding-top: 0.3125rem;
}

.pt_6r {
  padding-top: 0.375rem;
}

.pt_7r {
  padding-top: 0.4375rem;
}

.pt_8r {
  padding-top: 0.5rem;
}

.pt_9r {
  padding-top: 0.5625rem;
}

.pt_10r {
  padding-top: 0.625rem;
}

.pt_11r {
  padding-top: 0.6875rem;
}

.pt_12r {
  padding-top: 0.75rem;
}

.pt_13r {
  padding-top: 0.8125rem;
}

.pt_14r {
  padding-top: 0.875rem;
}

.pt_15r {
  padding-top: 0.9375rem;
}

.pt_16r {
  padding-top: 1rem;
}

.pt_17r {
  padding-top: 1.0625rem;
}

.pt_18r {
  padding-top: 1.125rem;
}

.pt_19r {
  padding-top: 1.1875rem;
}

.pt_20r {
  padding-top: 1.25rem;
}

.pt_22r {
  padding-top: 1.375rem;
}

.pt_24r {
  padding-top: 1.5rem;
}

.pt_26r {
  padding-top: 1.625rem;
}

.pt_28r {
  padding-top: 1.75rem;
}

.pt_30r {
  padding-top: 1.875rem;
}

.pt_32r {
  padding-top: 2rem;
}

.pt_34r {
  padding-top: 2.125rem;
}

.pt_36r {
  padding-top: 2.25rem;
}

.pt_38r {
  padding-top: 2.375rem;
}

.pt_40r {
  padding-top: 2.5rem;
}

.pt_42r {
  padding-top: 2.625rem;
}

.pt_44r {
  padding-top: 2.75rem;
}

.pt_46r {
  padding-top: 2.875rem;
}

.pt_48r {
  padding-top: 3rem;
}

.pt_50r {
  padding-top: 3.125rem;
}

.pt_52r {
  padding-top: 3.25rem;
}

.pt_54r {
  padding-top: 3.375rem;
}

.pt_56r {
  padding-top: 3.5rem;
}

.pt_58r {
  padding-top: 3.625rem;
}

.pt_60r {
  padding-top: 3.75rem;
}

.pt_62r {
  padding-top: 3.875rem;
}

.pt_64r {
  padding-top: 4rem;
}

.pt_65r {
  padding-top: 4.0625rem;
}

.pt_70r {
  padding-top: 4.375rem;
}

.pt_80r {
  padding-top: 5rem;
}

.pt_90r {
  padding-top: 5.625rem;
}

.pt_100r {
  padding-top: 6.25rem;
}

.pt_110r {
  padding-top: 6.875rem;
}

.pt_120r {
  padding-top: 7.5rem;
}

// --------------------------------------

.pb_0 {
  padding-bottom: 0;
}

.pb_1 {
  padding-bottom: 1px;
}

.pb_2 {
  padding-bottom: 2px;
}

.pb_3 {
  padding-bottom: 3px;
}

.pb_4 {
  padding-bottom: 4px;
}

.pb_5 {
  padding-bottom: 5px;
}

.pb_6 {
  padding-bottom: 6px;
}

.pb_7 {
  padding-bottom: 7px;
}

.pb_8 {
  padding-bottom: 8px;
}

.pb_9 {
  padding-bottom: 9px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pb_11 {
  padding-bottom: 11px;
}

.pb_12 {
  padding-bottom: 12px;
}

.pb_13 {
  padding-bottom: 13px;
}

.pb_14 {
  padding-bottom: 14px;
}

.pb_15 {
  padding-bottom: 15px;
}

.pb_16 {
  padding-bottom: 16px;
}

.pb_17 {
  padding-bottom: 17px;
}

.pb_18 {
  padding-bottom: 18px;
}

.pb_19 {
  padding-bottom: 19px;
}

.pb_20 {
  padding-bottom: 20px;
}

.pb_22 {
  padding-bottom: 22px;
}

.pb_24 {
  padding-bottom: 24px;
}

.pb_26 {
  padding-bottom: 26px;
}

.pb_28 {
  padding-bottom: 28px;
}

.pb_30 {
  padding-bottom: 30px;
}

.pb_32 {
  padding-bottom: 32px;
}

.pb_34 {
  padding-bottom: 34px;
}

.pb_36 {
  padding-bottom: 36px;
}

.pb_38 {
  padding-bottom: 38px;
}

.pb_40 {
  padding-bottom: 40px;
}

.pb_42 {
  padding-bottom: 42px;
}

.pb_44 {
  padding-bottom: 44px;
}

.pb_46 {
  padding-bottom: 46px;
}

.pb_48 {
  padding-bottom: 48px;
}

.pb_50 {
  padding-bottom: 50px;
}

.pb_52 {
  padding-bottom: 52px;
}

.pb_54 {
  padding-bottom: 54px;
}

.pb_56 {
  padding-bottom: 56px;
}

.pb_58 {
  padding-bottom: 58px;
}

.pb_60 {
  padding-bottom: 60px;
}

.pb_62 {
  padding-bottom: 62px;
}

.pb_64 {
  padding-bottom: 64px;
}

.pb_65 {
  padding-bottom: 65px;
}

.pb_70 {
  padding-bottom: 70px;
}

.pb_80 {
  padding-bottom: 80px;
}

.pb_90 {
  padding-bottom: 90px;
}

.pb_100 {
  padding-bottom: 100px;
}

.pb_110 {
  padding-bottom: 110px;
}

.pb_120 {
  padding-bottom: 120px;
}

.pb_0r {
  padding-bottom: 0;
}

.pb_1r {
  padding-bottom: 0.0625rem;
}

.pb_2r {
  padding-bottom: 0.125rem;
}

.pb_3r {
  padding-bottom: 0.1875rem;
}

.pb_4r {
  padding-bottom: 0.25rem;
}

.pb_5r {
  padding-bottom: 0.3125rem;
}

.pb_6r {
  padding-bottom: 0.375rem;
}

.pb_7r {
  padding-bottom: 0.4375rem;
}

.pb_8r {
  padding-bottom: 0.5rem;
}

.pb_9r {
  padding-bottom: 0.5625rem;
}

.pb_10r {
  padding-bottom: 0.625rem;
}

.pb_11r {
  padding-bottom: 0.6875rem;
}

.pb_12r {
  padding-bottom: 0.75rem;
}

.pb_13r {
  padding-bottom: 0.8125rem;
}

.pb_14r {
  padding-bottom: 0.875rem;
}

.pb_15r {
  padding-bottom: 0.9375rem;
}

.pb_16r {
  padding-bottom: 1rem;
}

.pb_17r {
  padding-bottom: 1.0625rem;
}

.pb_18r {
  padding-bottom: 1.125rem;
}

.pb_19r {
  padding-bottom: 1.1875rem;
}

.pb_20r {
  padding-bottom: 1.25rem;
}

.pb_22r {
  padding-bottom: 1.375rem;
}

.pb_24r {
  padding-bottom: 1.5rem;
}

.pb_26r {
  padding-bottom: 1.625rem;
}

.pb_28r {
  padding-bottom: 1.75rem;
}

.pb_30r {
  padding-bottom: 1.875rem;
}

.pb_32r {
  padding-bottom: 2rem;
}

.pb_34r {
  padding-bottom: 2.125rem;
}

.pb_36r {
  padding-bottom: 2.25rem;
}

.pb_38r {
  padding-bottom: 2.375rem;
}

.pb_40r {
  padding-bottom: 2.5rem;
}

.pb_42r {
  padding-bottom: 2.625rem;
}

.pb_44r {
  padding-bottom: 2.75rem;
}

.pb_46r {
  padding-bottom: 2.875rem;
}

.pb_48r {
  padding-bottom: 3rem;
}

.pb_50r {
  padding-bottom: 3.125rem;
}

.pb_52r {
  padding-bottom: 3.25rem;
}

.pb_54r {
  padding-bottom: 3.375rem;
}

.pb_56r {
  padding-bottom: 3.5rem;
}

.pb_58r {
  padding-bottom: 3.625rem;
}

.pb_60r {
  padding-bottom: 3.75rem;
}

.pb_62r {
  padding-bottom: 3.875rem;
}

.pb_64r {
  padding-bottom: 4rem;
}

.pb_65r {
  padding-bottom: 4.0625rem;
}

.pb_70r {
  padding-bottom: 4.375rem;
}

.pb_80r {
  padding-bottom: 5rem;
}

.pb_90r {
  padding-bottom: 5.625rem;
}

.pb_100r {
  padding-bottom: 6.25rem;
}

.pb_110r {
  padding-bottom: 6.875rem;
}

.pb_120r {
  padding-bottom: 7.5rem;
}

// --------------------------------------

.pl_0 {
  padding-left: 0;
}

.pl_1 {
  padding-left: 1px;
}

.pl_2 {
  padding-left: 2px;
}

.pl_3 {
  padding-left: 3px;
}

.pl_4 {
  padding-left: 4px;
}

.pl_5 {
  padding-left: 5px;
}

.pl_6 {
  padding-left: 6px;
}

.pl_7 {
  padding-left: 7px;
}

.pl_8 {
  padding-left: 8px;
}

.pl_9 {
  padding-left: 9px;
}

.pl_10 {
  padding-left: 10px;
}

.pl_11 {
  padding-left: 11px;
}

.pl_12 {
  padding-left: 12px;
}

.pl_13 {
  padding-left: 13px;
}

.pl_14 {
  padding-left: 14px;
}

.pl_15 {
  padding-left: 15px;
}

.pl_16 {
  padding-left: 16px;
}

.pl_17 {
  padding-left: 17px;
}

.pl_18 {
  padding-left: 18px;
}

.pl_19 {
  padding-left: 19px;
}

.pl_20 {
  padding-left: 20px;
}

.pl_22 {
  padding-left: 22px;
}

.pl_24 {
  padding-left: 24px;
}

.pl_26 {
  padding-left: 26px;
}

.pl_28 {
  padding-left: 28px;
}

.pl_30 {
  padding-left: 30px;
}

.pl_32 {
  padding-left: 32px;
}

.pl_34 {
  padding-left: 34px;
}

.pl_36 {
  padding-left: 36px;
}

.pl_38 {
  padding-left: 38px;
}

.pl_40 {
  padding-left: 40px;
}

.pl_42 {
  padding-left: 42px;
}

.pl_44 {
  padding-left: 44px;
}

.pl_46 {
  padding-left: 46px;
}

.pl_48 {
  padding-left: 48px;
}

.pl_50 {
  padding-left: 50px;
}

.pl_52 {
  padding-left: 52px;
}

.pl_54 {
  padding-left: 54px;
}

.pl_56 {
  padding-left: 56px;
}

.pl_58 {
  padding-left: 58px;
}

.pl_60 {
  padding-left: 60px;
}

.pl_62 {
  padding-left: 62px;
}

.pl_64 {
  padding-left: 64px;
}

.pl_65 {
  padding-left: 65px;
}

.pl_70 {
  padding-left: 70px;
}

.pl_80 {
  padding-left: 80px;
}

.pl_90 {
  padding-left: 90px;
}

.pl_100 {
  padding-left: 100px;
}

.pl_110 {
  padding-left: 110px;
}

.pl_120 {
  padding-left: 120px;
}

.pl_0r {
  padding-left: 0;
}

.pl_1r {
  padding-left: 0.0625rem;
}

.pl_2r {
  padding-left: 0.125rem;
}

.pl_3r {
  padding-left: 0.1875rem;
}

.pl_4r {
  padding-left: 0.25rem;
}

.pl_5r {
  padding-left: 0.3125rem;
}

.pl_6r {
  padding-left: 0.375rem;
}

.pl_7r {
  padding-left: 0.4375rem;
}

.pl_8r {
  padding-left: 0.5rem;
}

.pl_9r {
  padding-left: 0.5625rem;
}

.pl_10r {
  padding-left: 0.625rem;
}

.pl_11r {
  padding-left: 0.6875rem;
}

.pl_12r {
  padding-left: 0.75rem;
}

.pl_13r {
  padding-left: 0.8125rem;
}

.pl_14r {
  padding-left: 0.875rem;
}

.pl_15r {
  padding-left: 0.9375rem;
}

.pl_16r {
  padding-left: 1rem;
}

.pl_17r {
  padding-left: 1.0625rem;
}

.pl_18r {
  padding-left: 1.125rem;
}

.pl_19r {
  padding-left: 1.1875rem;
}

.pl_20r {
  padding-left: 1.25rem;
}

.pl_22r {
  padding-left: 1.375rem;
}

.pl_24r {
  padding-left: 1.5rem;
}

.pl_26r {
  padding-left: 1.625rem;
}

.pl_28r {
  padding-left: 1.75rem;
}

.pl_30r {
  padding-left: 1.875rem;
}

.pl_32r {
  padding-left: 2rem;
}

.pl_34r {
  padding-left: 2.125rem;
}

.pl_36r {
  padding-left: 2.25rem;
}

.pl_38r {
  padding-left: 2.375rem;
}

.pl_40r {
  padding-left: 2.5rem;
}

.pl_42r {
  padding-left: 2.625rem;
}

.pl_44r {
  padding-left: 2.75rem;
}

.pl_46r {
  padding-left: 2.875rem;
}

.pl_48r {
  padding-left: 3rem;
}

.pl_50r {
  padding-left: 3.125rem;
}

.pl_52r {
  padding-left: 3.25rem;
}

.pl_54r {
  padding-left: 3.375rem;
}

.pl_56r {
  padding-left: 3.5rem;
}

.pl_58r {
  padding-left: 3.625rem;
}

.pl_60r {
  padding-left: 3.75rem;
}

.pl_62r {
  padding-left: 3.875rem;
}

.pl_64r {
  padding-left: 4rem;
}

.pl_65r {
  padding-left: 4.0625rem;
}

.pl_70r {
  padding-left: 4.375rem;
}

.pl_80r {
  padding-left: 5rem;
}

.pl_90r {
  padding-left: 5.625rem;
}

.pl_100r {
  padding-left: 6.25rem;
}

.pl_110r {
  padding-left: 6.875rem;
}

.pl_120r {
  padding-left: 7.5rem;
}

// --------------------------------------
.pr_0 {
  padding-right: 0;
}

.pr_1 {
  padding-right: 1px;
}

.pr_2 {
  padding-right: 2px;
}

.pr_3 {
  padding-right: 3px;
}

.pr_4 {
  padding-right: 4px;
}

.pr_5 {
  padding-right: 5px;
}

.pr_6 {
  padding-right: 6px;
}

.pr_7 {
  padding-right: 7px;
}

.pr_8 {
  padding-right: 8px;
}

.pr_9 {
  padding-right: 9px;
}

.pr_10 {
  padding-right: 10px;
}

.pr_11 {
  padding-right: 11px;
}

.pr_12 {
  padding-right: 12px;
}

.pr_13 {
  padding-right: 13px;
}

.pr_14 {
  padding-right: 14px;
}

.pr_15 {
  padding-right: 15px;
}

.pr_16 {
  padding-right: 16px;
}

.pr_17 {
  padding-right: 17px;
}

.pr_18 {
  padding-right: 18px;
}

.pr_19 {
  padding-right: 19px;
}

.pr_20 {
  padding-right: 20px;
}

.pr_22 {
  padding-right: 22px;
}

.pr_24 {
  padding-right: 24px;
}

.pr_26 {
  padding-right: 26px;
}

.pr_28 {
  padding-right: 28px;
}

.pr_30 {
  padding-right: 30px;
}

.pr_32 {
  padding-right: 32px;
}

.pr_34 {
  padding-right: 34px;
}

.pr_36 {
  padding-right: 36px;
}

.pr_38 {
  padding-right: 38px;
}

.pr_40 {
  padding-right: 40px;
}

.pr_42 {
  padding-right: 42px;
}

.pr_44 {
  padding-right: 44px;
}

.pr_46 {
  padding-right: 46px;
}

.pr_48 {
  padding-right: 48px;
}

.pr_50 {
  padding-right: 50px;
}

.pr_52 {
  padding-right: 52px;
}

.pr_54 {
  padding-right: 54px;
}

.pr_56 {
  padding-right: 56px;
}

.pr_58 {
  padding-right: 58px;
}

.pr_60 {
  padding-right: 60px;
}

.pr_62 {
  padding-right: 62px;
}

.pr_64 {
  padding-right: 64px;
}

.pr_65 {
  padding-right: 65px;
}

.pr_70 {
  padding-right: 70px;
}

.pr_80 {
  padding-right: 80px;
}

.pr_90 {
  padding-right: 90px;
}

.pr_100 {
  padding-right: 100px;
}

.pr_110 {
  padding-right: 110px;
}

.pr_120 {
  padding-right: 120px;
}

.pr_0r {
  padding-right: 0;
}

.pr_1r {
  padding-right: 0.0625rem;
}

.pr_2r {
  padding-right: 0.125rem;
}

.pr_3r {
  padding-right: 0.1875rem;
}

.pr_4r {
  padding-right: 0.25rem;
}

.pr_5r {
  padding-right: 0.3125rem;
}

.pr_6r {
  padding-right: 0.375rem;
}

.pr_7r {
  padding-right: 0.4375rem;
}

.pr_8r {
  padding-right: 0.5rem;
}

.pr_9r {
  padding-right: 0.5625rem;
}

.pr_10r {
  padding-right: 0.625rem;
}

.pr_11r {
  padding-right: 0.6875rem;
}

.pr_12r {
  padding-right: 0.75rem;
}

.pr_13r {
  padding-right: 0.8125rem;
}

.pr_14r {
  padding-right: 0.875rem;
}

.pr_15r {
  padding-right: 0.9375rem;
}

.pr_16r {
  padding-right: 1rem;
}

.pr_17r {
  padding-right: 1.0625rem;
}

.pr_18r {
  padding-right: 1.125rem;
}

.pr_19r {
  padding-right: 1.1875rem;
}

.pr_20r {
  padding-right: 1.25rem;
}

.pr_22r {
  padding-right: 1.375rem;
}

.pr_24r {
  padding-right: 1.5rem;
}

.pr_26r {
  padding-right: 1.625rem;
}

.pr_28r {
  padding-right: 1.75rem;
}

.pr_30r {
  padding-right: 1.875rem;
}

.pr_32r {
  padding-right: 2rem;
}

.pr_34r {
  padding-right: 2.125rem;
}

.pr_36r {
  padding-right: 2.25rem;
}

.pr_38r {
  padding-right: 2.375rem;
}

.pr_40r {
  padding-right: 2.5rem;
}

.pr_42r {
  padding-right: 2.625rem;
}

.pr_44r {
  padding-right: 2.75rem;
}

.pr_46r {
  padding-right: 2.875rem;
}

.pr_48r {
  padding-right: 3rem;
}

.pr_50r {
  padding-right: 3.125rem;
}

.pr_52r {
  padding-right: 3.25rem;
}

.pr_54r {
  padding-right: 3.375rem;
}

.pr_56r {
  padding-right: 3.5rem;
}

.pr_58r {
  padding-right: 3.625rem;
}

.pr_60r {
  padding-right: 3.75rem;
}

.pr_62r {
  padding-right: 3.875rem;
}

.pr_64r {
  padding-right: 4rem;
}

.pr_65r {
  padding-right: 4.0625rem;
}

.pr_70r {
  padding-right: 4.375rem;
}

.pr_80r {
  padding-right: 5rem;
}

.pr_90r {
  padding-right: 5.625rem;
}

.pr_100r {
  padding-right: 6.25rem;
}

.pr_110r {
  padding-right: 6.875rem;
}

.pr_120r {
  padding-right: 7.5rem;
}
