.ol_cus_image_wraper {
  width: 300px;
  height: auto;
  background-color: rgba($color: #fff, $alpha: 100%);
  border-radius: 8px;
}

.ol_cus_image_title {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding-left: 16px;
  font-weight: bolder;
  font-size: 20px;
}

.ol_cus_image_label {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  font-size: 16px;
}
