.ol_cus_image_wraper {
  width: 300px;
  height: auto;
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  border-radius: 8px;
}

.ol_cus_image_title {
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 16px;
  margin-top: 16px;
}

.ol_cus_image_label {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding-left: 16px;
}
